<div class="trending-container">
    <div class="header">
        <h1>Now Trending</h1>
        <p>See what everyone’s wearing right now</p>
    </div>
    <div class="trending--context">
        <div class="items">
            <img src="../../../../assets/images/Rectangle 1.png" alt="" srcset="">
            <p>WINTER FASHION</p>
        </div>
        <div class="items">
            <img src="../../../../assets/images/Rectangle 2.png" alt="" srcset="">
            <p>BOOTS</p>
        </div>
        <div class="items">
            <img src="../../../../assets/images/Rectangle 3.png" alt="" srcset="">
            <p>NIGHT OUT</p>
        </div>
        <div class="items">
            <img src="../../../../assets/images/Rectangle 4.png" alt="" srcset="">
            <p>HOLIDAYS</p>
        </div>
        <div class="items">
            <img src="../../../../assets/images/Rectangle 5.png" alt="" srcset="">
            <p>OUTERWEAR</p>
        </div>
        <div class="items">
            <img src="../../../../assets/images/Rectangle 6.png" alt="" srcset="">
            <p>WHITE DRESSES</p>
        </div>
        <div class="items">
            <img src="../../../../assets/images/Rectangle 7.png" alt="" srcset="">
            <p>SWEATERS</p>
        </div>
        <div class="items">
            <img src="../../../../assets/images/Rectangle 8.png" alt="" srcset="">
            <p>PARTY</p>
        </div>
    </div>
    <div class="hashtags--container">
        <div class="hashtag-items">
           <p>#Thanksgiving</p> 
        </div>
        <div class="hashtag-items">
            <p>#NewYears</p> 
         </div>
         <div class="hashtag-items">
            <p>#Knitted</p> 
         </div>
         <div class="hashtag-items">
            <p>#Pajamas</p> 
         </div>
         <div class="hashtag-items">
            <p>#WFH</p> 
         </div>
         <div class="hashtag-items">
            <p>#FallFashion</p> 
         </div>
        
    </div>
</div>