.trending-container{
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header{
    flex-direction: column;
    text-align: center;
    padding: 15px 0 15px 0;
    h1{
        font-weight: 800;
        font-size: 36px;
    }
    p{
        font-weight: 400;
        font-size: 14px;
    }
    }

    .trending--context{
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 columns, each taking 1 fraction of the available space */
        grid-template-rows: 1fr; /* 1 row taking 1 fraction of available height */
        gap: 10px; /* Optional: add some spacing between the columns */
       
       .items{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 265px;
        height: 390px;
        img{
        width: 225px;
        height: 300px;
        align-self: center;
        }
        p{
            font-size: 24px;
            font-weight: 600;
            margin-top: 5px;
        }
       }
    }
    .hashtags--container{
       display: flex;
       flex-direction: row;
       gap: 10px;
       margin-top: -35px;
        .hashtag-items{
            border: 1px solid #000; 
            border-radius: 50px;
            font-weight: 600;
            font-size: 14px;
            width: 148px;
            height: 37px;
            display: flex;
            justify-content: center;
            align-items: center;

            p{
                padding: 10px 20px 10px 20px;
                text-align: center;
            }
        }
        
    }
}