<div class="container">
    <div class="benefits">
       <img src="../../../../assets/icons/crown.svg" alt="">
       <p>Exclusive Deals for VIP 2 and up!</p>
    </div>
    <div class="benefits">
       <img src="../../../../assets/icons/star.svg" alt="">
       <p>Weekly New Arrivals</p>
    </div>
    <div class="benefits">
       <img src="../../../../assets/icons/shipping.svg" alt="">
       <p>Free Shipping On Orders Over $100</p>
    </div>
    <div class="benefits">
       <img src="../../../../assets/icons/location.svg" alt="">
       <p>Track Your Order</p>
    </div>
    <div class="benefits">
       <img src="../../../../assets/icons/promo.svg" alt="">
       <p>10% Off On your First Order!</p>
    </div>
</div>