<app-benefits></app-benefits>
<div class="container">
    <div class="hero-container-carousel">
        <div class="left-container">
            <img class="left" src="../../../../assets/images/lefthero.png" alt="">
        </div>
       <div class="right-container">
        <img class="right" src="../../../../assets/images/righthero.png" alt="">
        <img class="overlay" src="../../../../assets/images/overlayhero.png" alt="">
       </div>
    </div>
    <button class="hero-btn" href="recentlybought" type="submit" >SHOP NOW</button>
</div>

<div class="site-wide-deals">
    <div class="contained">
        <div class="items">
            <p>$5 OFF</p>
            <p class="sub">ON ORDERS ABOVE $50</p>
        </div>
        <div class="items">
            <p>$15 OFF</p>
            <p class="sub" >ON ORDERS ABOVE $75</p>
        </div>
        <div class="items">
            <p>$20 OFF</p>
            <p class="sub">ON ORDERS ABOVE $150</p>
        </div>
        <div class="items">
            <p>$30 OFF</p>
            <p class="sub">ON ORDERS ABOVE $200</p>
        </div>
    </div>
    <div>
        <button class="btn-hero-footer" >CHECK OUT ALL SITE-WIDE DEALS</button>
    </div>
</div>

<div class="vip-exclusive">
    <div class="overlay">
        <img src="'../../../../assets/images/vip_bg.png" alt="" srcset="">
    </div>
    <div class="text-container">
        <p class="highlight">BLACK FRIDAY EXCLUSIVE</p>
        <p>free shipping on all orders for <br> VIP 2 and up!</p>
    </div>
    <button class="btn-vip-exclusive"> SHOP NOW</button>
</div>
<app-trending></app-trending>
<app-newarrivals></app-newarrivals>
<app-recentlybought id="recentlybought" class="recentlybought"></app-recentlybought>
<app-insta></app-insta>
<div class="newsletter-container">
    <div class="context">
        <h1>SIGN UP FOR EXCLUSIVE DEALS AND UPDATES</h1>
    </div>
    <div class="email--container">
         <div class="email">
        <input type="email" placeholder="Your Email Address">
        </div>
        <div class="button-arrow">
        <img type="submit" src="'../../../../assets/images/ant-design_right-outlined.png" alt="" srcset="">
        </div>
    </div>
</div>
<app-footer></app-footer>