<div class="footer-container">
    <div class="top--container">
        <div class="left--container">
            <div class="companyinfo ">
                <p class="highlight">COMPANY INFO</p>
                <p>About THREADED</p>
                <p>Affiliate</p>
                <p>Blog</p>
                <p>Careers</p>
            </div>
            <div class="helpandsupport ">
                <p class="highlight">HELP & SUPPORT</p>
                <p>FAQ</p>
                <p>Shipping</p>
                <p>Returns</p>
                <p>How To Order</p>
                <p>How To Track</p>
            </div>
            <div class="customercare ">
                <p class="highlight">CUSTOMER CARE</p>
                <p>Contact Us</p>
                <p>Payment Methods</p>
            </div>
        </div>
        <div class="right--container">
            <div class="top">
                <p class="highlight">FOLLOW US</p>
                <div class="socials">   
                    <img src="../../../../assets/images/bx_bxl-facebook.svg" alt="" srcset="">
                    <img src="../../../../assets/images/bx_bxl-instagram.svg" alt="" srcset="">
                    <img src="../../../../assets/images/bx_bxl-twitter.svg" alt="" srcset="">
                    <img src="../../../../assets/images/bx_bxl-youtube.svg" alt="" srcset="">
                    <img src="../../../../assets/images/bx_bxl-pinterest-alt.svg" alt="" srcset="">
                    <img src="../../../../assets/images/bx_bxl-tiktok.svg" alt="" srcset="">
                </div>
            </div>
            <div class="bottom">
                <p class="highlight">WE ACCEPT</p>
                <div class="payments">
                    <img src="../../../../assets/images/image 1.png" alt="" srcset="">
                    <img src="../../../../assets/images/image 2.png" alt="" srcset="">
                    <img src="../../../../assets/images/image 3.png" alt="" srcset="">
                    <img src="../../../../assets/images/image 4.png" alt="" srcset="">
                    <img src="../../../../assets/images/image 5.png" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
    <div class="bottom--container">
        <div class="credits">
            <p>©2021 THREADED All Rights Reserved.</p>
        </div>
        <div class="logo">
            <img src="../../../../assets/images/Logo.svg" alt="" srcset="">
        </div>
    </div>
</div>