<div class="inspo-container">
    <div class="header">
        <h1>Your Next Inspo</h1>
        <p>Checkout who’s wearing what by using #THREADEDInspo on Instagram</p>
    </div>
    <div class="inspo--context">
        <div class="items">
            <img src="../../../../assets/images/Rectangle 10.png" alt="" srcset="">
        </div>
        <div class="items">
            <img src="../../../../assets/images/Rectangle 12.png" alt="" srcset="">
        </div>
        <div class="items">
            <img src="../../../../assets/images/Rectangle 13.png" alt="" srcset="">
        </div>
        <div class="items">
            <img src="../../../../assets/images/Rectangle 14.png" alt="" srcset="">
        </div>
        <div class="items">
            <img src="../../../../assets/images/Rectangle 15.png" alt="" srcset="">
        </div>
    </div>
    <button class="btn-post">VIEW ALL POSTS</button>
</div>