.inspo-container{
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header{
    flex-direction: column;
    text-align: center;
    padding: 15px 0 15px 0;
    h1{
        font-weight: 800;
        font-size: 36px;
    }
    p{
        font-weight: 400;
        font-size: 14px;
    }
    }

    .inspo--context{
        display: grid;
        grid-template-columns: repeat(5, 1fr); 
        grid-template-rows: 1fr; 
        gap: 10px; 
       .items{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 265px;
        height: 390px;
        img{
        width: 225px;
        height: 225px;
        align-self: center;
        }
       }
    }

    .btn-post{
        margin-top: -130px;
        border: none;
        padding: 10px 20px 10px 20px;
        background-color: #000;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24);
        cursor: pointer;
        transition-duration: 0.4s;
        &:hover{
            border: 1px solid rgba(0, 0, 0, 0.038);
            background-color: #fff;
            color: #000;
            box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24);
       }
    }
    
}